@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');

:root {
    --fonte0: 'Stardos Stencil', cursive;
    --fonte1: 'Permanent Marker', cursive;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
    --cor1: #a9a9a9;
    --cor2: #346699;
    --cor3: #8ae6d9;
    --cor4: #daba2d;
    --cor5: #bbf58d;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte1)
}

header {
    background-color: black;
    color: var(--cor1);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte0);
    font-size: 10vw;
    font-weight: 500;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte2);
}

a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: var(--cor2);
    text-decoration: underline;
}

button {
    background-color: black;
    color: var(--cor1);
    border-radius: 20%;
    padding: 10px;
    margin: 10px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    font-family: var(--fonte1);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2.5em;
    margin-left: 20px;
}

section.normal {
    color: black;
}

section#cor1 {
    background-color: var(--cor2);
    color: white;
}

section#cor2 {
    background-color: var(--cor3);
}

section#cor3 {
    background-color: var(--cor4);
}

section#cor4 {
    background-color: var(--cor5);
}

section.imagem {
    background-color: var(--cor3);
    color: white;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.515);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.500);
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url(../imagens/my-war01.jpg);
    background-position: center center;
}

section#img2 {
    background-image: url(../imagens/my-war02.jpg);
    background-position: center top;
}

section#img3 {
    background-image: url(../imagens/my-war04.jpg);
    background-position: top center;
}

section#img4 {
    background-image: url(../imagens/my-war05.jpg);
    background-position: center center;
}

section#img5 {
    background-image: url(../imagens/my-war06.jpg);
    background-position: top center;
}

section#img6 {
    background-image: url(../imagens/my-war03.jpg);
}

footer {
    background-color: black;
    padding: 10px;   
}

footer > p {
    color: var(--cor5);
    text-align: center;
    font-family: var(--fonte2);
}

footer > p > a {
    color: var(--cor5);
}

footer > p > a:hover {
    color: var(--cor3);
}