@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');

:root {
    --fonte0: 'Stardos Stencil', cursive;
    --fonte1: 'Permanent Marker', cursive;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
    --cor1: #d7904e;
    --cor2: #B70709;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte1)
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

button {
    background-color: black;
    color: var(--cor2);
    border-radius: 20%;
    padding: 10px;
    margin: 10px;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte0);
    font-size: 10vw;
    font-weight: 500;
    color: var(--cor2);
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte2);
    color: var(--cor2);
}

a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: var(--cor1);
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 3em;
    font-family: var(--fonte1);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2.5em;
    margin-left: 20px;
}

section.normal {
    background-color: var(--cor2);
    color: black;
}

section.preto{
    background-color: black;
    color: var(--cor2);
}

section.imagem {
    background-color: #1C1C1C;
    color: white;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.515);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.500);
    text-shadow: 1px 1px 0px black;
}

section#img1 {
    background-image: url(../imagens/rumbling06.jpg);
    background-position: top right;
}

section#img2 {
    background-image: url(../imagens/rumbling04.jpeg);
    background-position: top right;
}

section#img3 {
    background-image: url(../imagens/rumbling07.jpg);
    background-position: center center;
}

footer {
    background-color: black;
    padding: 10px;   
}

footer > p {
    color: var(--cor2);
    text-align: center;
    font-family: var(--fonte2);
}