@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

@font-face {
    font-family: 'Angel wish';
    src: url('../fontes/Angel wish.ttf') format(truetype), url('../fontes/Angel wish.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --fonte0: 'Angel wish';
    --fonte1: 'Moon Dance', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: 'Angel wish'
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte0)
    font-size: 10vw;
}